body {
	background-color: rgb(33, 31, 37);
	padding:3%;
}

* {
	font-family: "Roboto Slab", serif;
	font-size:1.1em;
	color: #eee;
}

h1, h2, h3 {
	font-family: Asimovian, sans-serif;
	font-size:3em;
	text-align: center;
	
}

#spellContainer {
	display: flex;
	gap:5px;
}

.sectionContent {
	border: 10px solid #3a323f;
	border-radius: 0 15px 15px 15px;
	padding: 10px;
}

.sectionTitle {
	background-color: #3a323f;
	padding: 15px;
	font-weight: bold;
	border-radius: 15px 15px 0 0;
	width:fit-content;
}

.spellIncant {
	background-color:#3a323f;
	padding: 5px;
	border-radius: 5px;
}

.sectionContainer {
	margin-top:10px;
}

select, option {
	color: #222;
}

.arg {
	border-radius: 5px;
	padding: 5px;
}

.arg.vector {
	background-color: rgb(28, 28, 83);
	color: #6365b3;
}
.arg.scalar {
	background-color: rgb(28, 81, 83);
	color: #63b3b3;
}
.arg.null {
	background-color: rgb(46, 46, 46);
	color: #686868;
}